/* NOTE: this is the stylesheet file for custom style of the front of the system */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: whitesmoke;
  background-color: #292929;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #252525;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 1px 1px 2px 2px #242424;

}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #303030;
  color: white;
}



div.root-container {

  margin-left: 200px;
  padding: 1px 12px;
  height: 1000px;
}

.main-container {
  padding: 12px 12px;
}

.box {
  padding: 12px;
  margin:12px 0;
  background-color: #252525;
  border: 1px solid #242424;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.root-container {
    margin-left: 0;
  }

  
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

}

/* flex-container center vertical and :horizontal */
.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
}


.img {
  width: 9cm !important;
  height: 6cm !important;
}

code {
  color: white;
}





.profile-photo {
  width: 4cm !important;
  height: 4cm !important;
  outline: none;
  border: 1px solid white;
  border-radius: 100%;
}


.code-container{
  background-color: #141414;
  color: lightgrey;
}

